pipeline/ADFinputoup.json
{
	"name": "ADFinputoup",
	"properties": {
		"activities": [
			{
				"name": "getmetadatafrominputstorage",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "csvinputstorage",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "getdata2014to15",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getmetadatafrominputstorage",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "variable",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getmetadatafrominputstorage').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "csvinputstorage",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "inputdatatojson",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "variable",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "VAR",
					"value": "Ranjith"
				}
			}
		],
		"variables": {
			"VAR": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-01T06:35:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}